body {
    font-family: 'Mulish', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

img {
    width: 80%;
}

.hireme {
    text-decoration: none;
    background-image: linear-gradient(green, rgb(5, 214, 5));
    padding: 10px 40px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
}

.top-banner {
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;

}

.Dream-big {
    background-image: url(Image/bg1.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-section {
    width: 40%;
    height: 350px;
    margin-left: 6%;
    padding-left: 20px;
    background-color: rgb(235, 255, 247);
    border-left: green solid 7px;
    box-shadow: 10px 10px 40px 15px #a7a7a7;
}

.developertitle {
    font-size: 30px;
}

.developeraim {
    font-size: 20px;
    color: orange;
}

.experience-section p {
    line-height: 35px;
}

.experience {
    background-image: url(Image/exbg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.footer {
    text-align: center;
    font-weight: lighter;
    color: rgb(253, 255, 248);
    margin-bottom: 30px;
    background-color: black;
    height: 100px;
    padding-top: 50px;
}