body {
    font-family: 'Mulish', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

img {
    width: 80%;
}

.hireme {
    text-decoration: none;
    background-image: linear-gradient(green, rgb(5, 214, 5));
    padding: 10px 40px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
}

.top-banner {
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;

}

.Dream-big {
    background-image: url(Image/bg1.png);
    background-repeat: no-repeat;
    background-position: right;
}